* {
  /* background-color: black; */
  /* border: black solid 1px; */
  margin: 0;
  max-width: 100%;
  padding: 0;
}
html {
  font-size: 67.5%;
  /* background: url("https://wallpapercave.com/wp/wp2487379.jpg") 100% fixed; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darkblue;
}
main {
  display: flex;
  margin-top: 2.5%;
}
body {
  font-size: 1.7rem;
}

img {
  border-radius: 90%;
  margin-bottom: 30%;
  margin-left: 4%;
}

.section {
  /* background-color: blue; */
}

.aside {
  box-sizing: border-box;
  /* background-color: red; */
  width: 20%;
}
.aside h1 {
  margin-bottom: 40%;
  margin-left: 14%;
  text-decoration: none;
  color: blue;
}
.summary {
  margin-bottom: 2%;
  margin-top: 2%;
}
.section {
  margin-left: 5%;
}
.expierence,
.expierence ul,
.education,
.certifications,
.skill-highlight ul {
  margin-bottom: 1%;
  font-size: 1.6rem;
  list-style: none;
}
.expierence {
  margin-left: 4%;
  /* font-size: 1.5rem; */
}
.Languages {
  margin-left: 10%;
}

div h1 {
  animation-name: fromLeft;
  animation-duration: 3s;
}
.skill-highlight ul {
  /* display: flex; */
  /* list-style-type: none; */
  /* font-size: 1.3rem; */
}
.skill-highlight ul li {
  margin: 2%;
}
.para {
}

.contact {
  margin-bottom: 20%;
  margin-left: 14%;
}
.contact ul,
.Languages ol,
.education ul {
  list-style: none;
}

.Languages ol {
  margin-left: 14%;
}

@keyframes fromLeft {
  0% {
    opacity: 0%;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translate3d(0);
  }
}
